SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_APP_URL=https://drsell.szchada.top
SCOPES=read_customers,read_orders,read_products,write_orders,write_products
API_INTERNAL_URL=http://127.0.0.1:3001
NEXT_PUBLIC_API_BASE=/api/backend
